[submodule "Litterlog-CatWatcher"]
	path = Litterlog-CatWatcher
	url = https://github.com/emma-jinger/Litterlog-CatWatcher
[submodule "LitterLog-DataPipeline"]
	path = LitterLog-DataPipeline
	url = https://github.com/emma-jinger/LitterLog-DataPipeline
[submodule "LitterLog-WebApp"]
	path = LitterLog-WebApp
	url = https://github.com/emma-jinger/LitterLog-WebApp
